/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.idx/dev.nix
.idx/.data/mysql/aria_log_control
.idx/.data/mysql/aria_log.00000001
.idx/.data/mysql/ddl_recovery.log
.idx/.data/mysql/ib_buffer_pool
.idx/.data/mysql/ib_logfile0
.idx/.data/mysql/ibdata1
.idx/.data/mysql/ibtmp1
.idx/.data/mysql/idx-simpede-1721180027118.pid
.idx/.data/mysql/multi-master.info
.idx/.data/mysql/mysql_upgrade_info
.idx/.data/mysql/mysql/column_stats.frm
.idx/.data/mysql/mysql/column_stats.MAD
.idx/.data/mysql/mysql/column_stats.MAI
.idx/.data/mysql/mysql/columns_priv.frm
.idx/.data/mysql/mysql/columns_priv.MAD
.idx/.data/mysql/mysql/columns_priv.MAI
.idx/.data/mysql/mysql/db.frm
.idx/.data/mysql/mysql/db.MAD
.idx/.data/mysql/mysql/db.MAI
.idx/.data/mysql/mysql/db.opt
.idx/.data/mysql/mysql/event.frm
.idx/.data/mysql/mysql/event.MAD
.idx/.data/mysql/mysql/event.MAI
.idx/.data/mysql/mysql/func.frm
.idx/.data/mysql/mysql/func.MAD
.idx/.data/mysql/mysql/func.MAI
.idx/.data/mysql/mysql/general_log.CSM
.idx/.data/mysql/mysql/general_log.CSV
.idx/.data/mysql/mysql/general_log.frm
.idx/.data/mysql/mysql/global_priv.frm
.idx/.data/mysql/mysql/global_priv.MAD
.idx/.data/mysql/mysql/global_priv.MAI
.idx/.data/mysql/mysql/gtid_slave_pos.frm
.idx/.data/mysql/mysql/gtid_slave_pos.ibd
.idx/.data/mysql/mysql/help_category.frm
.idx/.data/mysql/mysql/help_category.MAD
.idx/.data/mysql/mysql/help_category.MAI
.idx/.data/mysql/mysql/help_keyword.frm
.idx/.data/mysql/mysql/help_keyword.MAD
.idx/.data/mysql/mysql/help_keyword.MAI
.idx/.data/mysql/mysql/help_relation.frm
.idx/.data/mysql/mysql/help_relation.MAD
.idx/.data/mysql/mysql/help_relation.MAI
.idx/.data/mysql/mysql/help_topic.frm
.idx/.data/mysql/mysql/help_topic.MAD
.idx/.data/mysql/mysql/help_topic.MAI
.idx/.data/mysql/mysql/index_stats.frm
.idx/.data/mysql/mysql/index_stats.MAD
.idx/.data/mysql/mysql/index_stats.MAI
.idx/.data/mysql/mysql/innodb_index_stats.frm
.idx/.data/mysql/mysql/innodb_index_stats.ibd
.idx/.data/mysql/mysql/innodb_table_stats.frm
.idx/.data/mysql/mysql/innodb_table_stats.ibd
.idx/.data/mysql/mysql/plugin.frm
.idx/.data/mysql/mysql/plugin.MAD
.idx/.data/mysql/mysql/plugin.MAI
.idx/.data/mysql/mysql/proc.frm
.idx/.data/mysql/mysql/proc.MAD
.idx/.data/mysql/mysql/proc.MAI
.idx/.data/mysql/mysql/procs_priv.frm
.idx/.data/mysql/mysql/procs_priv.MAD
.idx/.data/mysql/mysql/procs_priv.MAI
.idx/.data/mysql/mysql/proxies_priv.frm
.idx/.data/mysql/mysql/proxies_priv.MAD
.idx/.data/mysql/mysql/proxies_priv.MAI
.idx/.data/mysql/mysql/roles_mapping.frm
.idx/.data/mysql/mysql/roles_mapping.MAD
.idx/.data/mysql/mysql/roles_mapping.MAI
.idx/.data/mysql/mysql/servers.frm
.idx/.data/mysql/mysql/servers.MAD
.idx/.data/mysql/mysql/servers.MAI
.idx/.data/mysql/mysql/slow_log.CSM
.idx/.data/mysql/mysql/slow_log.CSV
.idx/.data/mysql/mysql/slow_log.frm
.idx/.data/mysql/mysql/table_stats.frm
.idx/.data/mysql/mysql/table_stats.MAD
.idx/.data/mysql/mysql/table_stats.MAI
.idx/.data/mysql/mysql/tables_priv.frm
.idx/.data/mysql/mysql/tables_priv.MAD
.idx/.data/mysql/mysql/tables_priv.MAI
.idx/.data/mysql/mysql/time_zone_leap_second.frm
.idx/.data/mysql/mysql/time_zone_leap_second.MAD
.idx/.data/mysql/mysql/time_zone_leap_second.MAI
.idx/.data/mysql/mysql/time_zone_name.frm
.idx/.data/mysql/mysql/time_zone_name.MAD
.idx/.data/mysql/mysql/time_zone_name.MAI
.idx/.data/mysql/mysql/time_zone_transition_type.frm
.idx/.data/mysql/mysql/time_zone_transition_type.MAD
.idx/.data/mysql/mysql/time_zone_transition_type.MAI
.idx/.data/mysql/mysql/time_zone_transition.frm
.idx/.data/mysql/mysql/time_zone_transition.MAD
.idx/.data/mysql/mysql/time_zone_transition.MAI
.idx/.data/mysql/mysql/time_zone.frm
.idx/.data/mysql/mysql/time_zone.MAD
.idx/.data/mysql/mysql/time_zone.MAI
.idx/.data/mysql/mysql/transaction_registry.frm
.idx/.data/mysql/mysql/transaction_registry.ibd
.idx/.data/mysql/mysql/user.frm
.idx/.data/mysql/performance_schema/db.opt
.idx/.data/mysql/simpede/cache_locks.frm
.idx/.data/mysql/simpede/cache_locks.ibd
.idx/.data/mysql/simpede/cache.frm
.idx/.data/mysql/simpede/cache.ibd
.idx/.data/mysql/simpede/db.opt
.idx/.data/mysql/simpede/failed_jobs.frm
.idx/.data/mysql/simpede/failed_jobs.ibd
.idx/.data/mysql/simpede/job_batches.frm
.idx/.data/mysql/simpede/job_batches.ibd
.idx/.data/mysql/simpede/jobs.frm
.idx/.data/mysql/simpede/jobs.ibd
.idx/.data/mysql/simpede/migrations.frm
.idx/.data/mysql/simpede/migrations.ibd
.idx/.data/mysql/simpede/password_reset_tokens.frm
.idx/.data/mysql/simpede/password_reset_tokens.ibd
.idx/.data/mysql/simpede/sessions.frm
.idx/.data/mysql/simpede/sessions.ibd
.idx/.data/mysql/simpede/users.frm
.idx/.data/mysql/simpede/users.ibd
.idx/.data/mysql/sys/db.opt
.idx/.data/mysql/sys/host_summary_by_file_io_type.frm
.idx/.data/mysql/sys/host_summary_by_file_io.frm
.idx/.data/mysql/sys/host_summary_by_stages.frm
.idx/.data/mysql/sys/host_summary_by_statement_latency.frm
.idx/.data/mysql/sys/host_summary_by_statement_type.frm
.idx/.data/mysql/sys/host_summary.frm
.idx/.data/mysql/sys/innodb_buffer_stats_by_schema.frm
.idx/.data/mysql/sys/innodb_buffer_stats_by_table.frm
.idx/.data/mysql/sys/innodb_lock_waits.frm
.idx/.data/mysql/sys/io_by_thread_by_latency.frm
.idx/.data/mysql/sys/io_global_by_file_by_bytes.frm
.idx/.data/mysql/sys/io_global_by_file_by_latency.frm
.idx/.data/mysql/sys/io_global_by_wait_by_bytes.frm
.idx/.data/mysql/sys/io_global_by_wait_by_latency.frm
.idx/.data/mysql/sys/latest_file_io.frm
.idx/.data/mysql/sys/memory_by_host_by_current_bytes.frm
.idx/.data/mysql/sys/memory_by_thread_by_current_bytes.frm
.idx/.data/mysql/sys/memory_by_user_by_current_bytes.frm
.idx/.data/mysql/sys/memory_global_by_current_bytes.frm
.idx/.data/mysql/sys/memory_global_total.frm
.idx/.data/mysql/sys/metrics.frm
.idx/.data/mysql/sys/processlist.frm
.idx/.data/mysql/sys/ps_check_lost_instrumentation.frm
.idx/.data/mysql/sys/schema_auto_increment_columns.frm
.idx/.data/mysql/sys/schema_index_statistics.frm
.idx/.data/mysql/sys/schema_object_overview.frm
.idx/.data/mysql/sys/schema_redundant_indexes.frm
.idx/.data/mysql/sys/schema_table_lock_waits.frm
.idx/.data/mysql/sys/schema_table_statistics_with_buffer.frm
.idx/.data/mysql/sys/schema_table_statistics.frm
.idx/.data/mysql/sys/schema_tables_with_full_table_scans.frm
.idx/.data/mysql/sys/schema_unused_indexes.frm
.idx/.data/mysql/sys/session_ssl_status.frm
.idx/.data/mysql/sys/session.frm
.idx/.data/mysql/sys/statement_analysis.frm
.idx/.data/mysql/sys/statements_with_errors_or_warnings.frm
.idx/.data/mysql/sys/statements_with_full_table_scans.frm
.idx/.data/mysql/sys/statements_with_runtimes_in_95th_percentile.frm
.idx/.data/mysql/sys/statements_with_sorting.frm
.idx/.data/mysql/sys/statements_with_temp_tables.frm
.idx/.data/mysql/sys/sys_config.frm
.idx/.data/mysql/sys/sys_config.MAD
.idx/.data/mysql/sys/sys_config.MAI
.idx/.data/mysql/sys/user_summary_by_file_io_type.frm
.idx/.data/mysql/sys/user_summary_by_file_io.frm
.idx/.data/mysql/sys/user_summary_by_stages.frm
.idx/.data/mysql/sys/user_summary_by_statement_latency.frm
.idx/.data/mysql/sys/user_summary_by_statement_type.frm
.idx/.data/mysql/sys/user_summary.frm
.idx/.data/mysql/sys/version.frm
.idx/.data/mysql/sys/wait_classes_global_by_avg_latency.frm
.idx/.data/mysql/sys/wait_classes_global_by_latency.frm
.idx/.data/mysql/sys/waits_by_host_by_latency.frm
.idx/.data/mysql/sys/waits_by_user_by_latency.frm
.idx/.data/mysql/sys/waits_global_by_latency.frm
.idx/.data/mysql/sys/x@0024host_summary_by_file_io_type.frm
.idx/.data/mysql/sys/x@0024host_summary_by_file_io.frm
.idx/.data/mysql/sys/x@0024host_summary_by_stages.frm
.idx/.data/mysql/sys/x@0024host_summary_by_statement_latency.frm
.idx/.data/mysql/sys/x@0024host_summary_by_statement_type.frm
.idx/.data/mysql/sys/x@0024host_summary.frm
.idx/.data/mysql/sys/x@0024innodb_buffer_stats_by_schema.frm
.idx/.data/mysql/sys/x@0024innodb_buffer_stats_by_table.frm
.idx/.data/mysql/sys/x@0024innodb_lock_waits.frm
.idx/.data/mysql/sys/x@0024io_by_thread_by_latency.frm
.idx/.data/mysql/sys/x@0024io_global_by_file_by_bytes.frm
.idx/.data/mysql/sys/x@0024io_global_by_file_by_latency.frm
.idx/.data/mysql/sys/x@0024io_global_by_wait_by_bytes.frm
.idx/.data/mysql/sys/x@0024io_global_by_wait_by_latency.frm
.idx/.data/mysql/sys/x@0024latest_file_io.frm
.idx/.data/mysql/sys/x@0024memory_by_host_by_current_bytes.frm
.idx/.data/mysql/sys/x@0024memory_by_thread_by_current_bytes.frm
.idx/.data/mysql/sys/x@0024memory_by_user_by_current_bytes.frm
.idx/.data/mysql/sys/x@0024memory_global_by_current_bytes.frm
.idx/.data/mysql/sys/x@0024memory_global_total.frm
.idx/.data/mysql/sys/x@0024processlist.frm
.idx/.data/mysql/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
.idx/.data/mysql/sys/x@0024ps_digest_avg_latency_distribution.frm
.idx/.data/mysql/sys/x@0024ps_schema_table_statistics_io.frm
.idx/.data/mysql/sys/x@0024schema_flattened_keys.frm
.idx/.data/mysql/sys/x@0024schema_index_statistics.frm
.idx/.data/mysql/sys/x@0024schema_table_lock_waits.frm
.idx/.data/mysql/sys/x@0024schema_table_statistics_with_buffer.frm
.idx/.data/mysql/sys/x@0024schema_table_statistics.frm
.idx/.data/mysql/sys/x@0024schema_tables_with_full_table_scans.frm
.idx/.data/mysql/sys/x@0024session.frm
.idx/.data/mysql/sys/x@0024statement_analysis.frm
.idx/.data/mysql/sys/x@0024statements_with_errors_or_warnings.frm
.idx/.data/mysql/sys/x@0024statements_with_full_table_scans.frm
.idx/.data/mysql/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
.idx/.data/mysql/sys/x@0024statements_with_sorting.frm
.idx/.data/mysql/sys/x@0024statements_with_temp_tables.frm
.idx/.data/mysql/sys/x@0024user_summary_by_file_io_type.frm
.idx/.data/mysql/sys/x@0024user_summary_by_file_io.frm
.idx/.data/mysql/sys/x@0024user_summary_by_stages.frm
.idx/.data/mysql/sys/x@0024user_summary_by_statement_latency.frm
.idx/.data/mysql/sys/x@0024user_summary_by_statement_type.frm
.idx/.data/mysql/sys/x@0024user_summary.frm
.idx/.data/mysql/sys/x@0024wait_classes_global_by_avg_latency.frm
.idx/.data/mysql/sys/x@0024wait_classes_global_by_latency.frm
.idx/.data/mysql/sys/x@0024waits_by_host_by_latency.frm
.idx/.data/mysql/sys/x@0024waits_by_user_by_latency.frm
.idx/.data/mysql/sys/x@0024waits_global_by_latency.frm
.idx/.data/mysql/test/db.opt
.idx/dev.nix
.idx/integrations.json
